<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="blocks/head.html :: head"></head>
<body>
<head th:replace="blocks/header.html :: header"></head>

<div class="container-fluid">
    <div class="row">
        <div class="col bg-white px-0">
            <head th:replace="blocks/sidebar.html :: sidebar"></head>
        </div>
        <div class="col-10 vh-100 bg-light">
            <div class="tab-content">
                <!-- Навигационная панель Admin -->
                <div class="tab-pane fade show active" id="nav-admin" role="tabpanel">
                    <nav>
                        <h1 class="ps-3"> Admin panel</h1>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#tableForm" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true">User table
                            </button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#newUser"
                                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New User
                            </button>
                        </div>
                    </nav>
                    <div>
                        <div class="tab-content">
                            <!-- Навигационная вкладка admin -->
                            <div class="tab-pane fade show active" id="tableForm" role="tabpanel" aria-labelledby="nav-profile-tab"
                                 tabindex="0">
                                <div class="container-fluid">
                                    <div class="row border">
                                        <h5 class="p-2">All users</h5>
                                    </div>
                                    <div class="row border bg-white">
                                        <table class="table table-borderless table-striped">
                                            <thead>
                                            <tr class="border-top">
                                                <th scope="col">Id</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="border-top bg-light" th:each="user : ${users}">
                                                <td th:utext="${user.getId()} "></td>
                                                <td th:utext="${user.getFirstname()}">
                                                <td th:utext="${user.getLastname()}">
                                                <td th:utext="${user.getAge()}">
                                                <td th:utext="${user.getEmail()}"></td>
                                                <td>
                                                    <th:block th:each="role : *{user.getRoles()}">
                                                        &nbsp;<span th:text="${role.toString()}"/>
                                                    </th:block>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                                            th:attr="data-bs-target='#editModal'+${user.id}"> Edit
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                            th:attr="data-bs-target='#deleteModal'+${user.id}"> Delete
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Навигационная вкладка New User -->
                            <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                                <div class="container-fluid">
                                    <div class="p-2">
                                        <h5>Add new user</h5>
                                    </div>
                                    <div class="row justify-content-center align-items-center bg-white">
                                        <div class="col-4">
                                            <form class="text-center" th:method="POST" th:action="@{/admin/new}" th:object="${modelUser}">
                                                <div class="form-group fw-bold">
                                                    <div class="form-group m-3">
                                                        <div class="form-group m-3">
                                                            <label for="firstname" class="col-form-label">First
                                                                name</label>
                                                            <input type="text" class="form-control" id="firstname"
                                                                   name="firstname" required/>
                                                        </div>
                                                        <div class="form-group m-3">
                                                            <label for="lastnameNew" class="col-form-label">Last
                                                                name</label>
                                                            <input type="text" class="form-control" id="lastnameNew"
                                                                   name="lastname" required/>
                                                        </div>
                                                        <div class="form-group m-3">
                                                            <label for="ageNew" class="col-form-label">Age</label>
                                                            <input type="number" class="form-control" id="ageNew"
                                                                   name="age" required/>
                                                        </div>
                                                        <div class="form-group m-3">
                                                            <label for="emailNew" class="col-form-label">Email</label>
                                                            <input type="email" class="form-control" id="emailNew"
                                                                   name="email" required/>
                                                        </div>
                                                        <div class="form-group m-3">
                                                            <label for="passwordNew"
                                                                   class="col-form-label">Password</label>
                                                            <input type="password" class="form-control" id="passwordNew"
                                                                   name="password" required/>
                                                        </div>
                                                        <div class="form-group m-3" readonly="readonly">
                                                            <label for="role">Role</label>
                                                            <select class="form-select w-100 "
                                                                    size="2" id="role" name="role" required>
                                                                <option th:each="role : ${roles}"
                                                                        th:text="${role} "></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-success">Add new user</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Навигационная панель User -->
                <div class="tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <head th:replace="blocks/user.html :: user"></head>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно edit -->
<div class="modal fade" th:attr="id='editModal'+${user.id}" aria-hidden="true" th:each="user:${users}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form class="text-center" th:action="@{/admin/{id}(id=${user.getId()})}" th:method="PATCH">
                    <div class="m-3">
                        <label for="idEdit" class="col-form-label">ID</label>
                        <input type="text" class="form-control" id="idEdit" name="id" th:value="${user.getId()}"
                               disabled/>
                    </div>
                    <div class="m-3">
                        <label for="firstNameEdit" class="col-form-label">First name</label>
                        <input type="text" class="form-control" id="firstNameEdit" name="firstname"
                               th:value="${user.getFirstname()}"/>
                    </div>
                    <div class="m-3">
                        <label for="lastNameEdit" class="col-form-label">Last name</label>
                        <input type="text" class="form-control" id="lastNameEdit" name="lastname"
                               th:value="${user.getLastname()}"/>
                    </div>
                    <div class="m-3">
                        <label for="ageEdit" class="col-form-label">Age</label>
                        <input type="number" class="form-control" id="ageEdit" name="age"
                               th:value="${user.getAge()}"/>
                    </div>
                    <div class="m-3">
                        <label for="emailEdit" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="emailEdit" name="email"
                               th:value="${user.getEmail()}"/>
                    </div>
                    <div class="m-3">
                        <label for="passwordEdit" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="passwordEdit" name="password"
                               required/>
                    </div>
                    <div class="m-3">
                        <label for="roleEdit">Role</label>
                        <select class="form-select " size="2" id="roleEdit" name="role">
                            <option th:each="role : ${roles}" th:text="${role}"></option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close
                        </button>
                        <input type="submit" class="btn btn-info" value="Edit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно delete -->
<div class="modal fade" th:attr="id='deleteModal'+${user.id}" aria-hidden="true" th:each="user:${users}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="text-center" th:action="@{admin/{id}/delete(id=${user.id})}" th:method="POST">
                    <div class="m-3">
                        <label for="idDelete" class="col-form-label">ID</label>
                        <input type="text" class="form-control" id="idDelete" name="id"
                               th:value="${user.getId()}"
                               disabled/>
                    </div>
                    <div class="m-3">
                        <label for="firstNameDelete" class="col-form-label">First name</label>
                        <input type="text" class="form-control" id="firstNameDelete" name="firstname"
                               th:value="${user.getFirstname()}" disabled/>
                    </div>
                    <div class="m-3">
                        <label for="lastNameDelete" class="col-form-label">Last name</label>
                        <input type="text" class="form-control" id="lastNameDelete" name="lastname"
                               th:value="${user.getLastname()}" disabled/>
                    </div>
                    <div class="m-3">
                        <label for="ageDelete" class="col-form-label">Age</label>
                        <input type="text" class="form-control" id="ageDelete" name="age"
                               th:value="${user.getAge()}" disabled/>
                    </div>
                    <div class="m-3">
                        <label for="emailDelete" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="emailDelete" name="email"
                               th:value="${user.getEmail()}" disabled/>
                    </div>
                    <div class="m-3">
                        <label for="roleDelete" class="col-form-label">Role</label>
                        <select class="form-select" size="2" id="roleDelete" name="role" disabled>
                            <option th:each="role: ${user.getRoles()}" th:text="${role.toString()}">
                            </option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                        </button>
                        <input type="submit" class="btn btn-danger" value="Delete"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<head th:replace="blocks/footer.html :: footer"></head>
</body>
</html>